

html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
   width: 100%;
   height: 100%;
   position: relative;
}

.select-baselayer {
  top: 0.5em;
  left: 3em;
}

.select-dataSet {
  top: 0.5em;
  left: 12em;
}

.legend-control {
   top: 5em;
   left:0.5em;
}


// For mobile
//.ol-touch .select-baselayer {
//  top: 80px;
//}

#map {
   width: 100%;
//   height: 100%;
}
div.fill {
   width: 100%;
   height: 100%;
   position:absolute;
   left:0px;
   top:0px;
}

div.googlemap {
   position:absolute;
   z-index: -1;
}


.clear {
	clear:both;
}

.legend {
   position: absolute;
   background-color: white;
   padding: 15px;
   border-radius: 10px;
   border: 1px solid #cccccc;
   min-width: 200px;
   z-index: 101;
}

.legend-closer {
   text-decoration: none;
   position:absolute;
   top: 2px;
   right: 8px;
   cursor: pointer;
}
 
.legend-closer:after {
   content: "X";
}

.legend-list {
   list-style: none;
   padding:0px;
   margin: 0;
   margin-bottom: 5px;
}
.legend-list-item {
   list-style: none;
   margin-left: 0;
   line-height: 18px;
   margin-bottom: 5px;
}

.legend-key {
   display: block;
   float: left;
   height: 16px;
   width: 30px;
   margin-right: 5px;
   margin-left: 0;
   //border: 1px solid;
 }

.meta-short {
   position:absolute;
   bottom:10px;
   left:5px;
   right:5px;
   height:50px;

   background-color: white;
   padding: 5px;
   border-radius: 10px;
   border: 1px solid #cccccc;
   z-index: 102;
}

.meta-popup {
   position: absolute;
   background-color: white;
   padding: 15px;
   border-radius: 10px;
   border: 1px solid #cccccc;
   min-width: 200px;
   z-index: 101;
}

.meta-closer {
   text-decoration: none;
   position:absolute;
   top: 2px;
   right: 8px;
   cursor: pointer;
}
 
.meta-closer:after {
   content: "X";
}
