

html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
   width: 100%;
   height: 100%;
   position: relative;
}

.select-baselayer {
  top: 0.5em;
  left: 3em;
}

.select-dataSet {
  top: 0.5em;
  left: 12em;
}


// For mobile
//.ol-touch .select-baselayer {
//  top: 80px;
//}

#map {
   width: 100%;
   height: 100%;
}
div.fill {
   width: 100%;
   height: 100%;
   position:relative;
   left:0px;
   top:0px;
}

div.googlemap {
   position:absolute;
   z-index: -1;
}


.clear {
	clear:both;
}

