Options +FollowSymLinks
RewriteEngine on


RewriteRule ^/*code/([^/]+)/(.+)$ code.js?area=$1&data=$2
RewriteRule ^/*code/([^/]+)/*$ code.js?area=$1

RewriteRule ^/*$ start.php
RewriteRule ^/*show/([^/.]+)/*$ show.php?area=$1
RewriteRule ^/*show/([^/.]+)/([^/]+)/*$ show.php?area=$1&data=$2
RewriteRule ^/*data/([^/.]+)/([^.]+)$ data.php?area=$1&data=$2

AddHandler application/x-httpd-php .js
