Options +FollowSymLinks
RewriteEngine on

SetEnv DATA_PATH d:/HTTP/skogtest/siteRoot/data

RewriteRule ^/*code/([^/]+)/(.+)$ /js/code.js?area=$1&data=$2
RewriteRule ^/*code/([^/]+)/*$ /js/code.js?area=$1

RewriteRule ^/*$ php/start.php
RewriteRule ^/*show/([^/.]+)/*$ php/show.php?area=$1
RewriteRule ^/*show/([^/.]+)/([^/]+)/*$ php/show.php?area=$1&data=$2
RewriteRule ^/*data/([^/.]+)/([^.]+)$ php/data.php?area=$1&data=$2

AddHandler application/x-httpd-php .js
